.hero{
    z-index:0;
    max-height:42vh;
}.hero::after{display:none;}
section #List{
    align-content: center;
    text-align:center;
    width:95%;
}
section table#list{
    max-width:500px;
}

th h2{
    font-size:16px;
    padding:0;
    margin:0;
    color:var(--darkest);
}

section table#list tr th{
    font-size:16px;
    color:var(--medium-2);
    padding:5px;
    padding-left:8px;padding-right:8px;
    border-bottom: 2px ridge var(--medium-2);
}

section table#list tr#header th{
    font-size:18px;
    background-color:var(--medium-2);
    border-bottom:none;
    cursor:auto;
    color:var(--invert-color);
    opacity:1;
}
section table#list tr#header{
    opacity:1
}

section #info,
section #info b{
    color:var(--text-color);
    margin-top:16px;
    font-size:16px;
    margin-bottom:16px;
}

section b a{
    border-bottom:4px dashed var(--lightest);
    border-left: 6px ridge var(--lightest);
    border-radius:25px;
    opacity:.85;
    font-size:14px;
    font-weight:100;
    letter-spacing:-0.6px;
    padding-left:4px;

} section b a:hover{opacity:1;color:var(--lightest);background-color:var(--lightest)}